#
# --------------------------------------
# Environment File configuration example
# --------------------------------------
#

# Flask environment
FLASK_ENV=development

#
# User microservice
#

# USERS_MS_PROTO=http
# USERS_MS_HOST=localhost
USERS_MS_PORT=5001

#
# Messages microservice
#
# MESSAGES_MS_PROTO=http
# MESSAGES_MS_HOST=localhost
MESSAGES_MS_PORT=5001

#
# Notifications microservice
#
# NOTIFICATIONS_MS_PROTO=http
# NOTIFICATIONS_MS_HOST=localhost
NOTIFICATIONS_MS_PORT=5001